Source: gnome-shell-extension-panel-osd
Section: gnome
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-gnome,
# jq,
 libglib2.0-bin,
# meson,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/wasta-linux/gnome-shell-extension-panel-osd

Package: gnome-shell-extension-panel-osd
Architecture: all
Depends:
 gnome-shell (>= 3.33),
 gnome-shell (<< 43~),
 ${shlibs:Depends},
 ${misc:Depends}
Suggests:
 gnome-shell-extension-prefs,
Description: Panel-OSD support for GNOME Shell
 This extension integrates panel-osd into GNOME Shell.
